@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,700&display=swap');
#map {
    height: 600px;
}

h1 {
    font-size: 34px;
    text-align: center;
}

body {
    width: 60%;
    margin: auto;
    font-family: 'Inconsolata', monospace;
}

#mainContainer {
    display: flex;
    flex-direction: column;
}

#bottomContainer {
    display: flex;
    flex-direction: row;
}

#curatedTwitter {
    margin: 20px;
    width: 40%;
}

#summaryEvents {
    margin: 20px;
    width: 60%;
}

table,
th,
td {
    border: 2px dashed black;
}

table {
    width: 100%;
    margin-bottom: 25px;
    border-collapse: collapse;
    font-size: 18px;
    font-family: 'Inconsolata', monospace;
    line-height: 1.25;
    margin-top: 15px;
}

@media only screen and (max-width: 600px) {
    body {
        width: 95% !important;
    }
    h1 {
        font-size: 26px;
    }
    #map {
        height: 300px;
    }
}